In [1]:
#importing pandas

import pandas

In [2]:
# parameters 

Revenue_Growth_Factor = 0.18
EBITDA_Margin = 0.45
Taxes = 0.21
Capital_Expenditures = 0.03
Working_Capital_Increase = 0.06
EBITDA_Exit_Multiple = 32.70
Discount_Factor = 0.94

In [3]:
#showing the data frame for the dtae

dates = pandas.date_range(start = '2022', end = '2032', freq = 'Y')
dates

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [4]:
#revenue grwoth first year

df = pandas.DataFrame(index=dates)
df.loc['2022-12-31',"Revenue"] = 222 * (1 + Revenue_Growth_Factor)
df

            Revenue
2022-12-31   261.96
2023-12-31      NaN
2024-12-31      NaN
2025-12-31      NaN
2026-12-31      NaN
2027-12-31      NaN
2028-12-31      NaN
2029-12-31      NaN
2030-12-31      NaN
2031-12-31      NaN

In [5]:
# revenue grothe throw all years

for i in range (1, len(df)):
    df.iloc[i]["Revenue"] = df.iloc[i -1]["Revenue"] * (1 + Revenue_Growth_Factor)
df

                Revenue
2022-12-31   261.960000
2023-12-31   309.112800
2024-12-31   364.753104
2025-12-31   430.408663
2026-12-31   507.882222
2027-12-31   599.301022
2028-12-31   707.175206
2029-12-31   834.466743
2030-12-31   984.670757
2031-12-31  1161.911493

In [6]:
#calculating 

df['EBITDA'] = df['Revenue']*EBITDA_Margin
df["Taxes"] = -df ["EBITDA"] * Taxes
df["Capital Expenditure"] = -df ["Revenue"] * Capital_Expenditures
df["Working Capital"] = -df ["Revenue"] * Working_Capital_Increase
df["Cash Flow"] = df.drop(columns="Revenue").sum(axis=1)
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,69.550380
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.714690,308.487501

In [7]:
df["Discount Factor"] = Discount_Factor
df["Discount Factor"] = df["Discount Factor"].cumprod()
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,69.550380,0.940000
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,0.883600
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,0.780749
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,0.733904
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,0.689870
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,0.609569
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.714690,308.487501,0.538615

In [8]:
df["Present Value Free Cash Flow"] = df["Cash Flow"] * df["Discount Factor"]
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,69.550380,0.940000,65.377357
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,0.883600,72.516565
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,80.435373
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,0.780749,89.218916
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,0.733904,98.961622
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,0.689870,109.768231
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,121.754922
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,0.609569,135.050559
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,149.798080
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.714690,308.487501,0.538615,166.156031

In [9]:
msg = f""""Our projected Present Value of Projected Future Cash Flows are: {df['Present Value Free Cash Flow'].sum().round(0)}.
We are providing revenue guidance in 2032 to be: {round(df.iloc[-1]["Revenue"] * Revenue_Growth_Factor)}.
With an estimated EBITDA around: {round(df.iloc[-1]["Revenue"] * 1.18 * 0.50)}.
The terminal value a this time given a multiple of {EBITDA_Exit_Multiple} and the above EBITDA for 2030, would equal:{round(df.loc["2031", "Revenue"] * 1.18 * EBITDA_Exit_Multiple)}
"""

print(msg)

#The terminal value a this time given a multiple of <the-multiple-from-your-variable> and the above EBITDA for 2030, would equal: <your-terminal-value-here>."""

"Our projected Present Value of Projected Future Cash Flows are: 1089.0.
We are providing revenue guidance in 2032 to be: 209.
With an estimated EBITDA around: 686.
The terminal value a this time given a multiple of 32.7 and the above EBITDA for 2030, would equal:2031-12-31    44834.0
Freq: A-DEC, Name: Revenue, dtype: float64

In [10]:
#df.loc['2022',"Discount Factor"] = Discount_Factor
#df

In [11]:
#for i in range(len(df)):
#    df.iloc["Discount Factor"] = df.iloc[i-1]["Discount Factor"]*(1 - Working_Capital_Increase) ** (i + 1)
#df

In [12]:
#df.iloc[-1]["revenue"] * 1.12 * 0.50 * 10.0 * df.iloc[-1]["discount factor"]